.background {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#quote-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background-color: white;
    border-radius: 8px;
    width: 500px;
    min-height: 300px;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 5px 5px 10px;
}

.quote-content {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    height: 220px;
    margin: 10px;
}

#author {
    text-align: right;
}

button,
a {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    background: #1a1a1a;
    width: fit-content;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 1em;
}